@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Dongle', sans-serif;
    height: 100vh;
    font-size: 22px;
    position: relative;
    background-color: slategray;
}

h1 {
    display: flex;
    justify-content: center;
    border: 2px solid aqua;
    font-weight: bold;
    border-radius: 20px;
    background-color: slategray;
    margin: 10px 10px 0 10px;
}

#moneyEmoji {
    font-size: 30px;
    margin-top: 10px; 
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 13px rgb(0 0 0 / 10%);
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid aqua;
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: center;
}

select {
    border: none;
    outline: none;
    border-bottom: 1px solid aqua;
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: center;
}

button {
    border: 1px solid aqua;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    height: 35px;
    background-color: gray;
    color: white;
}

button:hover {
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
    color: black;
}

.Div {
    font-size: 25px;
}

p {
    margin-top: -5px;
}

#section {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

@media (max-device-width:480px ) {
    .container {
        width: 375px;
        height: 600px;
    }

    #section {
        margin-top: 50px;
    }

    #options {
        position: relative;
        font-size: 40px;
    }

    button {
        margin-top: 30px;
        height: 80px;
        width: 250px;
    }

}